data encoding

In [1]:
#1 nominal/one hot encoding

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
#create an instance of one hot encoder
encoder=OneHotEncoder()

In [10]:
encoded= encoder.fit_transform(df[['color']])

In [12]:
import pandas as pd
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [13]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

Label and Ordinal encoding

In [14]:
import pandas as pd

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
df = pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [17]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [18]:
#create an label encoder instance
encoder = LabelEncoder()

In [19]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [24]:
#ordinal encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [22]:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [26]:
encoder.fit_transform(df[['size']])

array([[2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.]])

target guided ordinal encoding

In [27]:
import pandas as pd
df= pd.DataFrame({
    'city':['new york','london','paris','tokyo','new york','paris'],
    'price':[200,150,300,250,180,320]
})

In [28]:
df.head()

       city  price
0  new york    200
1    london    150
2     paris    300
3     tokyo    250
4  new york    180

In [30]:
#calculating the mean price for each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'london': 150.0, 'new york': 190.0, 'paris': 310.0, 'tokyo': 250.0}

In [31]:
#replace each city with its mean price
df['city_encoded']=df['city'].map(mean_price)

In [32]:
df

       city  price  city_encoded
0  new york    200         190.0
1    london    150         150.0
2     paris    300         310.0
3     tokyo    250         250.0
4  new york    180         190.0
5     paris    320         310.0