In [ ]:
num=int(input("enter number of rows: "))
for i in range(1,num+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

enter number of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
#printing odd number of * in each rows
num=int(input("enter number of rows: "))
k=1
for i in range(1,num+1):
  for j in range(1,k+1):
    print("*",end=" ")
  k=k+2
  print()

enter number of rows: 3
*
* * *
* * * * *

In [ ]:
for i in range(1,5):
  for j in range(1,8):
    if j>=5-i and j<=3+i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    * * *
  * * * * *
* * * * * * *

In [5]:
k=1
for i in range(3):
  for j in range(1,6):
    if j<=i+k:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  k=k+1
  print()

*
* * *
* * * * *

In [13]:
num=int(input("enter number of rows: "))
for i in range(1,num+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter number of rows: 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [18]:
for i in range(1,6):
  for j in range(0,6-i):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [19]:
num=5
for i in range(1,6):
  for j in range(0,6-i):
    print(num,end=" ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [24]:
for i in range(0,5):
  for j in range(0,6-i):
    print(j,end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [36]:
k=0
for i in range(1,6):
  for j in range(1,i+1):
    print(i+k,end=" ")
  k+=1
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [38]:
for i in range(1,6):
  for j in range(0,6-i):
    print(6-i,end=" ")

  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1